.header {
	background: indigo;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100px;
	margin: 0 auto;
	
	line-height	: 100px;
	color: blue;
	text-align: center;
	font-size: 40px; 
	line-height	: 100px;
}

#footer {
	height: 100px;
	line-height	: 100px;
	background: #2F4F4F;
	position: relative;
}
#footer-copyrite {
	float: right;
	margin-right: 30px;
	font-size: 15px;
	text-align: right;
	color: #dbdbdb;
}
p {
	margin: 0;
}


aside {
	float: left;
	width: 250px;
	height: 277px;
	border: 2px solid gray;
	margin-top: 20px;
}
aside li {
	font-weight: 30px;
	list-style-type: square;
	text-align: left;
	line-height: 40px;
}
aside a {
	color: indigo;
}
.photo {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 50px;
	margin-left: 50px;
	
}
body {
	min-width: 900px;
	height:100%;
	min-height: 600px;
	background-image: url(background.jpg);
}
.spisok {
	font-size: 10px;
	color: steelblue;
	line-height: 10px;
}
.col-sm-3 {
	padding: 30px 0px;
	
}